@charset "utf-8";
/* CSS Document */

body{background: url(../images/bg2.jpg) no-repeat center 0; font-size: 14px; font-weight: bold;}

#header{width: 100%;}
#header h1{display: none; float: none;margin-top: 0; }

#nav{width: 100%;}
#nav .left,#nav .right{display: none;}
#nav ul{float: none; width: 100%;}
#nav ul li{width: 11.11%; padding: 0;text-align: center;}

#banner,#banner img{width: 100%; height:auto;}
#banner .all{display: none;}

#con{width: 100%; height: auto; background: none;}
#con .up{height: auto; }
#con .up ul{margin-bottom: 10px;}
#con .up li{width: 48%;height: auto; border: 1px solid #ccc; border-radius:10px; background: linear-gradient(#fefefe,#f0f0f0); margin: 5px 3px; padding-bottom: 10px; box-sizing:border-box;}

#con .down{height: auto;overflow: hidden; background: none;}
#con .down>div{width: 98%;background: linear-gradient(#fefefe,#f0f0f0); float: none; border: 1px solid #ccc;border-radius:10px; margin:10px auto 0;padding-bottom: 20px;}
.down .down01 dl{padding: 0 10px 0px;}
.down .down01 dt{margin-left: 20px;}
.down .down01 dd{width: 78%;}
.down .down02 li{width: 33.33%;margin-right: 0; text-align: center;}

#sub_nav{display: none;}

#footer{width: 98%;background: linear-gradient(0deg,#fefefe,#f0f0f0); border: 1px solid #ccc;border-radius:10px; margin:10px auto 0;}
.footer_in{width: 98%;}


