@charset "utf-8";
/* CSS Document */

body{background: none;}
#header{height: 50px;}
#header:after{content:"绿色食品网"; display: block; height: 50px; line-height: 50px; background:#57af0f ;text-align: center; color:#fff; font-size: 20px;}

#nav{margin-top: 10px; height: auto;}
#nav ul{height: auto;overflow: hidden;background: #008000;}
#nav ul li{width: auto; padding:0 10px; background:none;}

#banner{margin-top: 10px;}
#banner>a{display: none;}

#banner .all{display: block; width:100%; height:auto; border:1px solid #ccc;}
.all li img{ display:block; width:100%; height:auto;}
.all .display{ width:100%; height:auto; overflow:hidden; position:relative;}
.all ul li{ display:none;}
.all ul .current{ display:block;}
.all ol{ position:absolute; right:10px; bottom:10px;}
.all ol li{ width:20px; height:20px; background:#fff; border:1px solid #ccc; line-height:20px; text-align:center; float:left; margin-left:10px; cursor:pointer;}
.all .current{ background:yellow;}

#con .up li{width: 98%;}
.down .down01 dt{margin-left: 0;float: none;text-align: center;}
.down .down01 dd{float: none;width: 100%; text-indent:2em;}
.down .down02 li{float: none;width: 100%;margin-bottom: 10px;}

#footer h2{display: none;}
